body{
  margin:0;
  text-align: center;
  font-family:'Merriweather', serif;
  color:#40514E;
}

h1{
 font-family: 'Sacramento', cursive;
 font-size: 5.625rem;
 margin: 50px auto 0 auto;
 color:#66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color:  #11999E;

}

.top-container{
  position: relative;
  padding-top: 100px;
  background-color: #EAF6F6;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
}

.profile{
  margin-top: 50px;
}

.pro-pic{
  max-height: 160px;
  max-width: 160px;
}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top:50px;

}

.bottom-cloud{
  position: absolute;
  left:250px;
  bottom: 300px;
}


.skill-row{
  width: 45%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-top: 50px;
}

.skills{
  width:25%;
  float: left;
  margin-right: 30px;
}

.skills2{
  width:25%;
  float:right;
}

.heading{
  border-style: dotted none none none;
  margin-top: 100px;
  border-top: 7px dotted;
  width: 60px;
  border-color: #EAF6F6;
  margin-bottom: 100px;
}

.contact-me{
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-message{
  width:30%;
  margin:40px auto 60px auto;
}

.btn {
  padding: 10px;
  box-shadow: 2px 2px 20px 0 #000;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  border-radius: 8px;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  border: solid #337FED 1px;
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  text-shadow: 3px 3px 20px #000;
}

.btn:hover {
  background-image: linear-gradient(to bottom, #28c4ad, #30e3cb);
}

a{
  color:#11999E;
  font-family: 'Montserrat',sans-serif;
  margin:10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6;
}

.copyright{
  color:#EAF6F6;
  font-size:0.75rem;
  padding:20px 0;
}
